html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 30px;
}

.content-quote {
    background-color: #C5C5C5;
    padding: 10px;
}

.article-header{
    display: flex;
    font-style: italic;
}
.article-category{
    display: flex;
    justify-content: space-around;
    margin-right: .75rem;
}
.New {
    background-color: #3cb44b;
}

.Covid {
    background-color: #469990;
}

.Politics {
    background-color: #5d5db1;
}

.Business {
    background-color: #ffe119;
}

.Technology {
    background-color: coral;
}

.Health {
    background-color: darkcyan;
}

.Sports {
    background-color: #dcbeff;
}

.Entertainment {
    background-color: #fabed4;
}

.World {
    background-color: #aaffc3;
}

.Others{
    background-color: #a9a9a9;
}

.Society {
    background-color: indianred;
}

.Education {
    background-color: cadetblue;
}

.Life {
    background-color: #dcbeff;
}

.Tourism {
    background-color: aqua;
}

.Car {
    background-color: burlywood;
}

.published-time{
    color:#6c757d;
    align-self: flex-end;
}

.title {
    font-weight: bold;
    text-align: center;
}

.description {
    font-style: italic;
    text-align: center;

}

.content-paragraph {
    text-align: start;
}

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
}

.main-content {
    padding: 0 4em 2em 4em;
    margin-right: auto;
    margin-left: auto;
}

.content-pic {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

figcaption em {
    color:#6c757d;
    font-style: italic;
    font-size: 14px;}

figcaption {
    text-align: center;
}

.content-video {
    display: flex;
    align-content: center;
    width: 600px;
    height:400px;
}

.source {
    font-style: italic;
}